.button {
	-webkit-mask-size: contain;
	background-size: contain;
	display:block;
}

#implode {
	-webkit-mask-image: url(/image/implode.png);
}

#explode {
	-webkit-mask-image: url(/image/explode.png);
}

#help {
	-webkit-mask-image: url(/image/help.png);
}

#github {
	background-image: url(/image/github.png);
}

#email {
	background-image: url(/image/mail.png);
}