* {
	padding: 0px;
	margin: 0px;
}

::-webkit-scrollbar {
	display:none;
}

#content {
	width: 280px;
	height: 280px;
	margin: 5px;
	overflow-x:scroll;
}
	.window {
		width: 130px;
		height: 130px;
		margin: 5px;
		background-color: rgb(220,220,220);
		border-radius: 6px;
		float: right;
		cursor: pointer;
		position: relative;
	}
	.window:hover {
		background-color: rgb(200,200,200);
	}
	.window:nth-child(2n + 1){
		clear:left;
	}

		.window .sub {
			background-color: rgba(64,64,64, .6);
			border-radius: 6px;
			margin: 3px;
			position: absolute;
			background-repeat: no-repeat;
			background-position: 5px 5px;
			background-size: 20px 20px;
			background-image: url(../image/favicon.png);
		}

#content.error {
	margin:10px;
	font-family: sans-serif;
}

	#content.error h2 {
		text-align: center;
		font-size: 35pt;
	}

	#content.error .window {
		margin: 20px auto 20px auto;
		text-align:center;
		font-size: 120px;
		color: rgba(64,64,64,.6);
		float:none;
	}

	#content.error p {
		padding: 10px;
		text-align:center;
	}